.navbar {

	position:fixed;
	top:0;
	width:100%;
	height:50px;
	background-color:#98a7f5;
	display:flex;
	flex:1;
	flex-direction: row;
	color: white; /*text color*/
	justify-content: space-evenly;
	align-items: center;

}
.brand {
	font-size:24px;

}
.navbtn {
	font-size:16px;
	color:black;
}
.spacer{
	width:100%;
	height:6px;
}